<p>login2 works!</p>

<title>CodePen - Responsive Signup/Login form</title>


<div class="cuerpo">
   <div class="container">
      <section id="formHolder">
   
         <div class="row">
   
            <!-- Brand Box -->
            <div class="col-sm-6 brand">
   
               <div class="heading">
                  <div class="video-container">
                     <iframe width="360" height="215" src="https://www.youtube.com/embed/2Xxib2lymG8?si=dL4aBtz_pjfv7CCn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
   
                 </div>
   
               </div>
   
               
            </div>
   
   
            <!-- Form Box -->
            <div class="col-sm-5 form">
   
              
   
               <!-- Signup Form -->
               <div class="signup form-peice">
                  
                  
                  <form [formGroup]="fGroup"  class="login-form" action="#" method="post">
                     <div>
                        <h2>Bienvenido a Pienta</h2>
                       
                     </div>
                     <div class="form-group">

                        <input formControlName="usuario" placeholder="correo" type="email" name="loginemail" id="loginemail" required>
                     </div>
   
                     <div class="form-group">
                        
                        <input formControlName="clave" placeholder="contraseña" type="password" name="loginPassword" id="loginPassword" required>
                     </div>
   
                     <div class="CTA">
                        <button (click)="capturardatos()">Ingresar</button>
                     </div>
                  </form>
               </div><!-- End Signup Form -->
            </div>
   
            
         </div>
   
      </section>

   
   </div>
</div>
<!-- partial:index.partial.html -->

